In [1]:
import pandas as pd

In [2]:
obj = pd.Series([5,-1,9,70])

In [3]:
obj

0     5
1    -1
2     9
3    70
dtype: int64

In [4]:
obj.values

array([ 5, -1,  9, 70])

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj2= pd.Series([1,2,3,4], index=['a','b','c','d'])

In [7]:
obj2

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
obj2[obj2>2]

c    3
d    4
dtype: int64

In [13]:
obj2 * 2

a    2
b    4
c    6
d    8
dtype: int64

In [14]:
obj2

a    1
b    2
c    3
d    4
dtype: int64

In [15]:
pd.isnull(obj2)

a    False
b    False
c    False
d    False
dtype: bool

In [16]:
obj2.isnull()

a    False
b    False
c    False
d    False
dtype: bool

In [2]:
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])

In [3]:
my_categories

[foo, bar, baz, foo, bar]
Categories (3, object): [bar, baz, foo]

In [10]:
codes = [0,0,1,2,2,1,0]
categories = ['foo','bar','baz']

In [11]:
my_categories.from_codes(codes, categories)

[foo, foo, bar, baz, baz, bar, foo]
Categories (3, object): [foo, bar, baz]

In [14]:
import numpy as np
draws = np.random.randn(1000)

In [15]:
bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])

In [16]:
bins

[Q2, Q2, Q3, Q3, Q4, ..., Q2, Q2, Q2, Q2, Q1]
Length: 1000
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

In [20]:
bins.codes[-1]

0

In [22]:
results = pd.Series(draws).groupby(bins).agg(['count', 'max', 'min'])

In [23]:
results

    count       max       min
Q1    250 -0.611000 -2.584431
Q2    250  0.027953 -0.608679
Q3    250  0.765178  0.030485
Q4    250  3.209430  0.766293

In [2]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key':['foo','foo'], 'rval': [4,5]})

In [3]:
left

   key  lval
0  foo     1
1  foo     2

In [4]:
right

   key  rval
0  foo     4
1  foo     5

In [5]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [10]:
left = pd.DataFrame({'key': ['foo', 'bar','foo', 'baz'], 'lval': [1, 2, 3, 8]})
right = pd.DataFrame({'key':['foo','bar'], 'rval': [4,5]})

In [11]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     3     4
2  bar     2     5

In [12]:
left

   key  lval
0  foo     1
1  bar     2
2  foo     3
3  baz     8

In [15]:
left.iloc[[2]]

   key  lval
2  foo     3

In [16]:
import numpy as np

In [17]:
from random import sample

In [31]:
rindex = np.array(sample(range(len(left)), 4))

In [32]:
rindex

array([1, 0, 2, 3])

In [33]:
dfr = left.ix[rindex]

In [34]:
dfr

   key  lval
1  bar     2
0  foo     1
2  foo     3
3  baz     8

In [39]:
ll = left.groupby(['key'])

In [40]:
ll.describe()

     lval
    count mean       std  min  25%  50%  75%  max
key
bar   1.0  2.0       NaN  2.0  2.0  2.0  2.0  2.0
baz   1.0  8.0       NaN  8.0  8.0  8.0  8.0  8.0
foo   2.0  2.0  1.414214  1.0  1.5  2.0  2.5  3.0

In [41]:
lval_mean = np.mean(left.lval)

In [42]:
lval_mean

3.5

In [44]:
np.mean(left.)

TypeError: Could not convert foobarfoobaz to numeric